<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="graphVizLocation" value="C:\Users\DeMeessias\Documents\1. Studie\Experimentation project\Code\MMDecompositionGenerator\MMDecompositionGenerator\graphviz-2.38\release\bin" />
    </appSettings>
</configuration>